.header {
  background: #000 url(http://zornet.ru/Abavaga/stars.png);
  background-size: cover;
  width: 100%;
  height: 5rem;

  .header__section {
    display: flex;

    .header__logo {
      width: 63px;
      height: 47px;
      margin-top: 5px;
    }
  }
}


