$font-family: 'Encode Sans SC', sans-serif;

.apod__btn {
  display: block;
  margin: 15px 32px;
  outline: 0;
  background: #26458d;
  border: 0;
  border-radius: 4px;
  padding: 1px 7px 8px 7px;
  color: #FFFFFF;
  font-family: "Encode Sans SC", sans-serif;
  font-size: 21px;
  cursor: pointer;
}

.preloader {
  display: block;
  margin: auto;
}

.apod__container {
  .apod__title {
    text-align: center;
    font-family: $font-family;
  }

  .apod__explanation {
    text-align: center;
    display: block;
    margin: auto;
    font-family: $font-family;
  }

  .apod__img {
    display: block;
    margin: 3rem auto;
  }
}

@media (min-width: 500px) {
  .apod__container {
    .apod__explanation {
      width: 50%;
    }

    .apod__img {
      height: 350px;
      width: 458px;
    }
  }
}

@media (max-width: 500px) {
  .apod__container {
    .apod__title {
      font-size: 0.7rem;
    }

    .apod__explanation {
      width: 90%;
      font-size: 0.5rem;
    }

    .apod__img {
      height: 205px;
      width: 275px;
    }
  }
}